* {
  box-sizing: border-box;
}
button:hover {
  opacity: 0.7;
}
button:focus {
  outline: none;
}
body {
  all: unset;
}
.app {
  height: 100vh;
  width: 100%;
}
.main-container {
  display: flex;
  flex-wrap: nowrap;
  height: 90vh;
  overflow-y: auto;
  padding: 0px 50px 50px 50px;
  width: 90%;
  margin: 0 auto;
}
.help-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-size: 32px;
  font-weight: 900;
}
.help-container button {

}
.header-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  border-bottom: 1px solid lightgray;
}
.header-container h1 {
  font-size: 24px;
  font-weight: 900;
}
.question-wrapper {
  width: 40px;
}
.question-wrapper img {
  width: 100%;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
li {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc(33% - 16px);
  margin: 12px 8px;
  height: 300px;
}
.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 10;
}
#img-container:hover {
  cursor: pointer;
}
img {
  width: 60%;
}
.form-container {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}
.form-foot {
  margin-top: 8px;
  text-align: right;
  width: 100%;
}
.form-btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: 0px;
  color: white;
  font-weight: 600;
  background-color: black;
  cursor: pointer;
}
.help-btn-wrapper {
  margin-top: 50px;
  margin-right: 190px;
}
textarea {
  border-color: transparent;
  padding: 10px;
  resize: none;
  width: 100%;
  height: 85%;
  outline: none;
  font-weight: 900;
  font-size: 18px;
}
.content {
  padding: 24px 36px;
  overflow-y: auto;
  word-break: break-all;
  width: 100%;
  font-weight: 900;
  font-size: 18px;
}
.slide-in {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: -100px;
  }

  to {
    margin-left: 0;
  }
}

a {
  text-decoration: none;
  color: black;
}
.password-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-wrapper {
  width: 500px;
  height: 300px;
  padding: 40px 30px;
  border: 1px lightgray solid;
  border-radius: 8px;
  background-color: rgb(33, 33, 33);
  position: relative;
}
.password-wrapper h1 {
  color: white;
  font-weight: 600;
  font-size: 24px;
}
.password-wrapper input {
  width: 100%;
  padding: 12px;
  border: 4px dodgerblue solid;
  border-radius: 8px;
  outline: none;
  margin-top: 30px;
}
.password-foot {
  position: absolute;
  right: 25px;
  bottom: 20px;
}
.password-foot button {
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  margin-right: 8px;
}
.password-foot button:focus {
  outline: none;
}
.password-confirm {
  color: lightgray;
  background-color: dimgrey;
}
.password-cancel {
  background-color: rgb(33, 33, 33);
  color: white;
  border: 1px lightgray solid !important;
}

@media screen and (max-width: 600px) {
  li {
    width: calc(100% - 16px) !important;
  }
}

@media screen and (min-width: 600px) {
  li {
    width: calc(50% - 16px) !important;
  }
}

@media screen and (min-width: 960px) {
  li {
    width: calc(33% - 16px) !important;
  }
}

@media screen and (min-width: 1700px) {
  li {
    width: calc(25% - 16px) !important;
  }
}

@media screen and (min-width: 1904px) {
  li {
    width: calc(20% - 16px) !important;
  }
}
