* {
  box-sizing: border-box;
}
body {
  all: unset;
}
.app {
  height: 100vh;
  width: 100%;
}
.main-container {
  display: flex;
  flex-wrap: nowrap;
  height: 90vh;
  overflow-y: auto;
  padding: 50px;
  width: 90%;
  margin: 0 auto;
}
.header-container {
  height: 10vh;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
li {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: calc(33% - 16px);
  margin: 4px 8px;
  height: 300px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
  width: 100%;
  height: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
