<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/static/styles/index.css" rel="stylesheet">
  <title>Title</title>
</head>
<body>
  <header class="header-container">
    <a href="/">
      <h1>Codestates 대나무 숲</h1>
    </a>
    <div class="question-wrapper">
      <a href="/help">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/600px-Icon-round-Question_mark.svg.png">
      </a>
    </div>
  </header>
  <main class="help-container">
    안녕하세요,<br><br>
    하고 싶은 말 다 하고 가시면 됩니다.<br>
    사실 페이지 3개 만들려고 만들었어요.<br><br>
    감사합니다.
    <div class="help-btn-wrapper">
      <a href="/" class="form-btn" style="color: white; font-size: 16px; padding: 12px 120px;">뒤로가기</a>
    </div>
  </main>
</body>
</html>
