<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/static/styles/index.css" rel="stylesheet">
</head>
<body>
  <div class="password-container">
    <div class="password-wrapper">
      <h1>회의 암호 입력</h1>
      <input type="password">
      <div class="password-foot">
        <button class="password-cancel">취소</button>
        <button class="password-confirm">참가</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const sendButton = document.getElementsByClassName('password-confirm')[0];
    const cancelButton = document.getElementsByClassName('password-cancel')[0];
    const inputEl = document.getElementsByTagName('input')[0];
    inputEl.focus();

    sendButton.addEventListener('click', async function(e) {
      try {
        await axios.post('/password', { password: inputEl.value });
        window.location = '/'
      } catch (e) {
        alert('비밀번호가 틀렸습니다!')
        inputEl.focus();
      }
    });

    cancelButton.addEventListener('click', function(e) {
      inputEl.value = '';
      inputEl.focus();
    });
  </script>
</body>
</html>
